* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Smythe", sans-serif;
  color: #242423;
  width: 37.5rem;
}

/* Font styles  */

.title {
  font-size: 2.438rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.375rem;
  color: #fff;
  margin: 0;
}

.item-title {
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
}

.item-description {
  font-size: 1rem;
  color: #8b8b8b;
  margin: 0 0 0.5rem 0;
}

.item-price {
  font-size: 1.25rem;
}

.pre-checkout-title {
  font-size: 1.75rem;
  text-align: center;
}

/* Layout */

.header {
  background-image: url("/images/background-img.png");
  width: 100%;
  height: 10.438rem;
  object-fit: cover;
  padding: 2rem;
  margin-bottom: 4.188rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.menu-container {
  margin: 0 auto;
  width: 31.75rem;
  height: 8.75rem;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 2rem;
}

.img-description-container {
  display: flex;
  align-items: center;
}

.item-img {
  font-size: 4rem;
  margin: 0;
}

.image-container {
  width: 4.375rem;
  height: 5.563rem;
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1.938rem;
}

.add-btn {
  width: 3.125rem;
  height: 3.125rem;
}

i {
  font-size: 3rem;
}

.pre-checkout {
  width: 31.75rem;
  height: 19.938rem;
  margin: 0 auto;
}

.pre-checkout-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.ordered-item-container {
  display: flex;
  align-items: center;
}

.remove-btn {
  margin-left: 0.5rem;
  color: #bbbbbb;
}

.total-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  border-top: 2px solid #393333;
  margin-top: 0.5rem;
}

.total-price-text {
  margin-top: 0.875rem;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  width: 31.75rem;
  height: 3.75rem;
  background-color: #16db99;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #16db99;
  border-radius: 3px;
}
